.DS_S*
/node_modules
/www
/public
/.tmp
/.bin
/.bundle
/.sass-cache
/bower_components
/platforms
/plugins
/coverage
/scripts/certs/dist.cer
!/scripts/certs/dist.cer.enc
/scripts/certs/dist.p12
!/scripts/certs/dist.p12.enc
/scripts/profile/*.mobileprovision
!/scripts/profile/*.mobileprovision.enc
.idea
*.iml
